@import url("style.css");

@media all and (max-width: 960px) {
    .header-right {
        width: 91%;
    }

    .header-left {
        width: 9%;
    }
}



@media all and (max-width: 320px) {
    .header-right {
        width: 100%;
    }

    .header-left{
        display:none;
    }

    .header-right-top{
        display:flex;
        flex-direction:column;
    }
    .logo{
        display:none;
    }

    .header-right-bottom{
        margin-top:5px;
    }
    a{
        margin-top:5px;
    }
}