@import url("Style.css");

@media all and (max-width: 960px) {
    .header-right {
        width: 91%;
    }

    .header-left {
        width: 9%;
    }

    .container {
        width: 100%;
    }
}



@media all and (max-width: 320px) {

    .my-article p{
        font-size: 10px;
    }

    .article {
        width:100%;
    }

    .image-article img {
        width: 100%;
    }

    .artist-list {
        width: 100%;
        grid-template-columns: repeat( auto-fit, minmax(320px, 1fr) );
        grid-column-gap: 0px;
    }

        .artist-list .box {
            width: 100%;
            margin: auto;
        }

    .details {
        width: 100%;
    }

    .image {
        left: 130px;
    }

    .artist-profile {
        width: 100%;
    }

    .artist-tattoos {
        grid-template-columns: repeat( auto-fit, minmax(320.5px, 1fr) );
        grid-row-gap: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .tattoo-desc {
        width: 202.5px;
        margin-left: 59px;
    }

    .tattoo img {
        margin-left: 59px;
    }

    .menu-buttons {
        display: none;
    }

    .studio-profile {
        width: 100%;
    }

    nav select {
        display: inline-block;
    }

    .selection {
        background-color: red;
        font-family: Ariel;
        height: 20px;
        color: white;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .slide-show-dots {
        display: none;
    }

    .slideshow-container {
        display: none;
    }

    .info-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .copyright-items {
        flex-direction: column;
    }

    .slider-items {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .header-right {
        width: 100%;
    }

    .header-left {
        display: none;
    }

    .header-right-top {
        display: flex;
        flex-direction: column;
    }

    .logo {
        display: none;
    }

    .header-right-bottom {
        margin-top: 5px;
    }

    a {
        margin-top: 5px;
    }


    .container {
        width: 100%;
    }
}
