* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-field button {
    width: 68px;
    height: 32px;
    border-radius: 10px;
    border-color: rgb(38, 34, 97);
    background-color: #3bafbe;
    color: rgb(38, 34, 97);
    border: none;
}


h3 {
    color: #3bafbe;
}

h5 {
    color: #3bafbe;
}

::placeholder {
    color: white;
}

a:hover {
    color: rgb(38, 34, 97);
}

.search-field {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*position: absolute;*/
    /*right: 5%;*/
    float: right;
}


.logo {
    height: 120px;
}



.site-name {
    /*height:120px;
    float:left;   
    top:0px;*/
}

.name {
    height: 40px;
    margin-right: 10px;
}



.header-right-top {
    /*height:60px;*/
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-right {
    width: 94%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-left {
    width: 6%;
}

.header-items {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    border-top: 1px solid #d8d8d8;
    /*justify-content: space-between;*/
    border-top: 5px solid #3bafbe;
}

.menu-buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-right-bottom {
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 20px;
    /*background-color:white;*/
}

/*.search-items {
    width: 80%;
}*/

a {
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    line-height: 12px;
    color: #3bafbe;
    font-family: "Metal Mania";
}

.container {
    width: 70%;
    margin: auto;
    /*background-color: #C9EEF3;*/
    /*background-color: black;*/
    height: 100%;
}

header {
    background-color: black;
}

section {
    background-color: black;
}

footer {
    background-color: black;
}

.app-section {
    background-color: none;
    overflow: hidden;
    position: relative;
    z-index: -100;
}


/*from here*/


/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slide-image {
    width: 100%;
    height: 360px;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}*/


/*from here star*/
.info-items {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(225px, 1fr) );
    /* grid-template-columns: 225px 225px 225px 225px; */
    grid-column-gap: 20px;
    padding-top: 55px;
    padding-bottom: 55px;
}

.info-section {
    background-color: #252525;
}

.info-and-contact-list {
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 134px;
}

    .info-and-contact-list p {
        font-size: 12px;
        line-height: 19px;
        color: #999999;
        font-family: "Georgia";
    }

.info-item {
    display: relative;
    height: 188px;
    display: flex;
    flex: wrap;
    flex-direction: column;
    position: relative;
}


spa {
    color: #3bafbe;
}

.blog-title-item h6 {
    font-size: 13px;
    line-height: 16px;
    color: #999999;
    font-family: "Georgia";
    margin-block-end: 5px;
}

.blog-title-item p {
    font-size: 11px;
    line-height: 13px;
    color: #999999;
    font-family: "Georgia";
    margin-block-end: 5px;
}


.blog-text-item p {
    width: 223px;
    height: 49px;
    font-size: 12px;
    line-height: 19px;
    color: #999999;
    font-family: "Georgia";
}

.blog-text-item a {
    position: absolute;
    right: 0;
    bottom: 12px;
    font-size: 12px;
    line-height: 14px;
    color: #3bafbe;
    font-family: "Georgia";
    text-align: right;
}

/*.search-items {
    width: 80%;
}*/

.search {
    color: white;
    font-size: 12px;
    line-height: 14px;
    font-family: "Georgia";
    border: none;
    border-radius: 10px;
    background-color: #333333;
    /*background-color: rgb(124, 121, 168);*/
    text-align: left;
    width: 217px;
    height: 32px;
}

.search-items {
    height: 113px;
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: space-between;
}

    .search-items button {
        width: 80px;
        height: 31px;
        border-radius: 7px;
        background-color: #3bafbe;
    }

h6 {
    font-size: 20px;
    line-height: 24px;
    color: #3bafbe;
    font-family: "Georgia";
    margin-block-end: 30px;
}


::placeholder {
    color: #3bafbe;
}

.container {
    width: 960px;
}

.info-section {
    background-color: #252525;
}

    .info-section container {
        background-color: #252525;
    }

.copyright-section {
    background-color: #1a1a1a;
}

.copyright-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.left-cprt-text p {
    font-size: 12px;
    line-height: 12px;
    color: #999999;
    font-family: "Georgia";
}

.tattoo-info {
    width: 100%;
}


.right-cprt-text p {
    font-size: 12px;
    line-height: 12px;
    color: #999999;
    font-family: "Georgia";
    text-align: right;
}

.intro-items {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    /* grid-template-columns: 300px 300px 300px; */
    grid-column-gap: 30px;
    padding-top: 55px;
    padding-bottom: 55px;
    border-top: 1px solid #d8d8d8
}

    .intro-items p {
        width: 298px;
        height: 79px;
        font-size: 13px;
        line-height: 21px;
        color: #999999;
        font-family: "Georgia";
        margin-block-end: 20px;
    }

.intro-item button {
    width: 106px;
    height: 32px;
    font-size: 13px;
    line-height: 13px;
    font-family: "Georgia";
}

button {
    border-radius: 10px;
    background-color: #3bafbe;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
}

nav select {
    display: none;
}



.box:hover {
    box-shadow: 1px 1px 2px #3bafbe, 0 0 25px #3bafbe, 0 0 5px #3bafbe;
}



.details {
    width: 300px;
    height: 120px;
    margin-top: 180px;
    position: relative;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /*padding: 0 16px 16px;*/
    text-align: center;
}

.cover {
    position: absolute;
    top: -180px;
    width: 100%;
    height: 180px;
    border-radius: 16px;
    justify-content: center;
}

    .cover img {
        height: 100%;
        width: 100%;
    }

.image {
    position: absolute;
    top: -35px;
    width: 70px;
    height: 70px;
    left: 115px;
    background-color: white;
    box-shadow: 1px 1px 2px #3bafbe, 0 0 25px #3bafbe, 0 0 5px #3bafbe;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    /* right space */
}

    .image img {
        display: block;
        width: 90%;
        height: 90%;
        background: green;
        border-radius: 50%;
    }

.artist-info span {
    font-family: "Georgia";
    font-size: 13px;
}

.artist-info .studio-name {
    font-size: 10px;
}

.artist-info {
    height: 80px;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #3bafbe;
}

.link-button {
    width: 106px;
    font-size: 13px;
    line-height: 13px;
    background-color: transparent;
    border: 2px solid #3bafbe;
    font-family: "Georgia";
    color: #3bafbe;
    border-radius: 5px;
}

.artist-info button {
    width: 106px;
    height: 30px;
    font-size: 13px;
    line-height: 13px;
    background-color: transparent;
    border: 2px solid #3bafbe;
    font-family: "Georgia";
    color: #3bafbe;
}

.link-button:hover {
    color: #3bafbe;
    box-shadow: 1px 1px 2px #3bafbe, 0 0 25px #3bafbe, 0 0 5px #3bafbe;
}





.artist-list {
    display: grid;
    width: 960px;
    margin: auto;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: -50;
}

    .artist-list > box {
        background: white;
        width: 300px;
        height: 300px;
        overflow: hidden;
        border-radius: 16px;
        opacity: 1;
        transition: 0.3s;
        z-index: -1;
    }

.cover img:hover {
    border-radius: 5px;
}

.image:hover {
    box-shadow: 1px 1px 2px #3bafbe, 0 0 25px #3bafbe, 0 0 5px #3bafbe;
}

.image img:hover {
    width: 150%;
    height: 150%;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #3bafbe, 0 0 25px #3bafbe, 0 0 5px #3bafbe;
}

.box:hover {
    border-radius: 5px;
}

.artist-list .box ::before {
    background: white;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 16px;
    z-index: -1;
}


.app-items {
    background-color: black;
}


.artist-profile {
    width: 960px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.info-det {
    width: 100%;
    ;
}

.artist-tattoos {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat( auto-fit, minmax(202.5px, 1fr) );
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tattoo-desc {
    display: flex;
    flex-direction: column;
}

.artist-tattoos > tattoo {
    display: flex;
    flex-direction: column;
    height: 300px;
}

.tattoo > img {
    border-radius: 5px;
    width: 202.6px;
    height: 250px;
}

.tattoo-desc span {
    font-family: "Georgia";
    font-size: 13px;
    color: #3bafbe;
}

.artist-tattoos .tattoo img:hover {
    transform: scale(1.25);
    box-shadow: 1px 1px 2px #3bafbe, 0 0 25px #3bafbe, 0 0 5px #3bafbe;
}

.info-det .box {
    width: 300px;
    height: 150px;
}

    .info-det .box:hover {
        box-shadow: 1px 1px 2px transparent, 0 0 5px transparent, 0 0 5px transparent;
    }

.info-det .box {
    width: 300px;
    height: 150px;
}

.info-det {
    display: flex;
    justify-content: space-around;
}


    .info-det .image {
        position: absolute;
        top: -30px;
        width: 100px;
        height: 100px;
        left: 100px;
        background-color: #3bafbe;
        box-shadow: 1px 1px 2px #3bafbe, 0 0 25px #3bafbe, 0 0 5px #3bafbe;
        display: flex;
        align-items: center;
        border-radius: 50%;
        justify-content: center;
        /* right space */
    }

    .info-det img {
        width: 95%;
        height: 95%;
    }

    .info-det .artist-info {
        height: 50px;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: #3bafbe;
    }

    .info-det .details {
        width: 300px;
        height: 120px;
        margin-top: 35px;
        position: relative;
        display: flex;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        /*padding: 0 16px 16px;*/
        text-align: center;
    }
