* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-field button {
    width: 68px;
    height: 32px;
    border-radius: 10px;
    border-color: rgb(38, 34, 97);
    background-color: #3bafbe;
    color: white;
}

.search {
    color: white;
    font-size: 12px;
    line-height: 14px;
    font-family: "Georgia";
    /*border: none;*/
    border-color:rgb(38, 34, 97);
    border-radius: 10px;
    background-color: #3bafbe;
    text-align: left;
    width: 217px;
    height: 32px;
}

::placeholder {
    color: white;
}

a:hover {
    color: rgb(38, 34, 97);
}

.search-field {
    /*display: flex;*/
    /*justify-content: space-between;*/
    position: absolute;
    right: 5%;
}


.logo{
    height:120px;
}

.header-items {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    border-top: 1px solid #d8d8d8;
    justify-content: space-between;
    border-top: 5px solid #3bafbe;
    /*height:125px;*/
}

.header-section{
    height:150px;
}

.search-menu {
    width: 100%;
    height:50px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*bottom: 0px;*/
    /*float:left;*/
    /*bottom:0px;*/
    float:right;
}

.search-items {
    width: 80%;
}

a {
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    line-height: 12px;
    color: #3bafbe;
    font-family: "Metal Mania";
}

.container {
    width: 90%;
    margin: auto;
}